body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.title, .message {
  text-align: center;
}
.message {
  margin: 0px 0 16px 0;
}
.title {
  margin: 16px 0 0px 0;
}